# Ignore project virtual environment in the .venv folder
.venv/
venv
data/

# Ignore Visual Studio Code settings in the .vscode folder
.vscode/

# Ignore macOS specific files
.DS_Store

# Ignore ALL .log files
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
nyc_temperature_analysis.py
data.csv
california_housing.csv
housing.csv